= javascript_include_tag "application"


/%audio{src: "/voice/generate", controls: true}

%button#start START
%button#stop STOP

%audio#response{controls: true}
  %source#source{src: ""}

%ul#recordingslist
