#landing.container-fluid.text-center

  %h1
    = image_tag "logo"
  %p#slogan.text-center
    Самый четкий голосовой помощник на районе

#controls.container-fluid

  .row

    .col-md-3
    .col-md-6

      %br
      %br

      .card

        .card-body

          %br
          %br

          %h3.text-center
            Попробуй прямо сейчас!

          %br

          .text-center

            %button.btn.btn-lg.btn-success#start Начать!
            %button.btn.btn-lg.btn-danger#stop Остановить

          %audio#response{controls: true, style: "visibility: hidden;"}
            %source#source{src: ""}

          %br

          %p#hint.text-center

            Приятного и продуктивного общения!

          %ul#recordingslist

#marketing.container-fluid