= javascript_include_tag "application"
= javascript_include_tag "https://cdn.jsdelivr.net/npm/opus-recorder@6.1.0/dist/recorder.min.js"


/%audio{src: "/voice/generate", controls: true}

%button#start START
%button#stop STOP

%audio#response{controls: true}
  %source#source{src: ""}

%ul#recordingslist