!!! 5
%html(lang="en")
  %head
    = render :partial => "layouts/head"
  %body

    - if !flash[:notice].blank?
      .alert.alert-info
        .container
          = flash[:notice]
    - if !flash[:alert].blank?
      .alert.alert-danger
        .container
          = flash[:alert]
    = yield
